@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  height: 100vh;
}

.new-camp {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.heading{
  text-align: center;
  margin: 20px 0 20px 0;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
}

.submit-btn{
  width: 30%;
}

form label{
    margin: 5px 0 5px 0;
    font-weight: 500;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.new {
  margin: 20px;
}

.search-bar {
  margin: 20px auto;
  width: 50%;
  display: block;
  justify-content: center;
  align-items: center;
}

.search-bar label{
  margin-bottom: 5px;
}

.card-img {
  height: 100%;
  object-fit: cover;
}